@import url('https://fonts.googleapis.com/css?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: "Quicksand";
    color: hotpink;
}

.graph{
    display: flex;
    justify-content: center;
}

.userinfo{
    /*display: block;*/
    height: 400px;
    width: 50%;
    /*display: flex;*/
    float: left;
    text-align: center;
    /*display: flow;*/
    /*justify-content: center;*/
}
.Pies{
    width: 50%;
    height: 400px;
    float: left;
    text-align: center;
}
.userinfo-text{
    height: 400px;
    width: 50%;
    font-size: 30px;
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    /*align-items: center;*/
    float: left;
    text-align: center;
}

.userinfo-text:hover{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

