.layout {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, #a0d7e7, #88cd43);
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;

}