

.avatar{
    width: 45px;
    height: 45px;
    float: right;
}
.avatar:hover{
    background-color:yellow;
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

Footer{
    font-family: "Quicksand";
    font-size: 40px;
    color: pink;
    text-align: center;
    align-items: center;
}
